.player {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;

  &,
  & > div,
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // uncomment to disable pause on video
    //pointer-events: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  .player > div {
    height: 300% !important;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .player > div {
    width: 300% !important;
    left: -100%;
  }
}
